div.container{
	position: relative;
	top: 70px;
	left: 0px;
	bottom: 80px;
    z-index: 0;
}

form {
	margin-bottom: 70px;
	
}

body:before{
    content: "";
    position: fixed;
    background: #006491;
    z-index:10;

    left: 0;
    right: 0;
    height: 50px;
}
body:after {
    content: "";
    position: fixed;
    background: #006491;
    left: 0;
    right: 0;
    height: 50px;
    z-index:10;

	
}
	
body:before {
    top: 0;
}
body:after {
    bottom: 0;
}

    div.relative{
        position: relative;
        top: 65px;
        left: 300px;
    }
    div.absolute{
        position: absolute;
        top: 177px;
        left: 366px;
    }
    div.button_position{
        position: relative;
        top: 80px;
        left: 50%
    }

